*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* fonts */
  --font-alumni-sans: "Alumni Sans";
  --font-orbitron: Orbitron;

  /* Colors */
  --color-whitesmoke: #f5f5f5;
  --color-steelblue: #1c96c3;
  --color-gray-100: rgba(0, 0, 0, 0.44);
  --color-gray-200: rgba(0, 0, 0, 0.2);
  --color-gray-300: rgba(0, 0, 0, 0.5);
  --color-gainsboro: rgba(217, 217, 217, 0);
  --color-black: #000;
  --color-dimgray: #717171;
}

body{
  padding: 30px 35px;
}

.title{
  display: flex;
  justify-content: space-between;
}

.payment-title{
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.2em;
  font-weight: 300;
  font-family: var(--font-orbitron);
  padding-top: 10px;
  font-size: 18px;
}

.choose-text{
  margin: 20px 70px;
  letter-spacing: 0.1em;
  font-family: var(--font-orbitron);
  color: rgba(0, 0, 0, 0.864);
  font-size: 19px;
}

.logo img{
  width: 190px;
  height: 200px;
}

/* Logo's  */

.options{
  display: flex;
  justify-content:space-between;
  position: relative;
}

.upi{
  padding: 10px;
}

.upi h1{
  margin-top: 30px;
  font-size: 90px;
  font-weight: 400;
  font-family: var(--font-orbitron);
  cursor: pointer;
}

.option p{
  margin-bottom: 10px;
}

.svg-bank svg{
  fill: #000000c0;
  margin: 10px;
  cursor: pointer;
}

.upi p{
  margin-top: 15px;
}
.upi:hover{
  color: var(--color-steelblue);
}
.credit-card,
.upi,
.net-banking{
  transition: all 0s;
  border: 3px solid transparent;
  box-sizing: border-box;
}

.credit-card:hover,
.upi:hover,
.net-banking:hover{
  border: 5px solid var(--color-steelblue);
  border-radius: 7px;
}

.svg-bank svg:hover{
  
  fill: var(--color-steelblue);
}

.opt-txt{
  margin-left: 20px;
}


/*     Payment    */

.billing{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
  font-family: var(--font-alumni-sans);
  font-size: 20px;
}

.billing input::placeholder
{
  font-family: var(--font-alumni-sans);
  font-size: 20px;
  letter-spacing: 1px;
}

.name,
.address,
.city,
.state,
.holder-name,
.card-number,
.exp-month,
.exp-year,
.cvv,
.upi-id-enter
{
  margin-left: 20px;
  padding: 10px;
}

.exp,.city-state{
  display: flex;
}

.name input,
.address input,
.city input,
.state input,
.holder-name input,
.card-number input,
.exp-month input,
.exp-year input,
.cvv input,
.upi-id-enter input,
#banks
{
  margin-left: 30px;
  border-radius: 10px;
  width: 150px;
  padding: 6px 10px;
}

.city input,
.state input{
  width: 80px;
}

.pay-now{
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 40px;
}

.pay-now p{
  width: 100px;
  height: 50px;
  border: 1px solid var(--color-steelblue);
  background-color: var(--color-steelblue);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  
}

.pay-now button{
  background-color: var(--color-steelblue);
  color: #fff;
  border: 1px solid var(--color-steelblue);
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

.upi-options{
  display: flex;
  gap: 30px;
  padding: 20px;
}

.upi-options img{
  width: 50px;
  height: 40px;
}

.bank {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 30px;
}

.bank img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1000px) {
  .choose-text{
      font-size:15px;
      margin-left: 10px;
  }
}
